html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Work Sans", sans-serif;
}

h3 {
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  text-transform: capitalize;
  color: #ffffff;
}

h5 {
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-transform: capitalize;
  color: #ffffff;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: #2b2b2b;
}
nav .nav_logo {
  width: 243.41px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  height: 32px;
  position: relative;
}
nav .nav_logo img:first-child {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 0px;
  top: 0px;
}
nav .nav_logo img:last-child {
  position: absolute;
  width: 199.41px;
  height: 19.8px;
  left: 44px;
  top: 8.6px;
}
nav .nav_menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 10px;
}
nav .nav_menu a {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  padding: 12px 20px;
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
}
nav .nav_menu a:hover {
  transform: scale(0.9);
}
nav .nav_menu button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  gap: 12px;
  background-color: #a259ff;
  border-radius: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
  transition: 0.3s;
  border: 2px solid transparent;
}
nav .nav_menu button:hover {
  transform: scale(0.9);
}
nav .nav_menu #burgerIcon {
  display: none;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 195px;
  gap: 30px;
  background: #3b3b3b;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
  color: #cccccc;
  text-align: start;
}
footer h5 {
  font-family: "Space Mono";
}
footer .footer_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 31px;
}
footer .footer_top > div:first-child .footer_logo {
  width: 243.41px;
  height: 32px;
  display: flex;
  margin-bottom: 30px;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  height: 32px;
  position: relative;
}
footer .footer_top > div:first-child .footer_logo img:first-child {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 0px;
  top: 0px;
}
footer .footer_top > div:first-child .footer_logo img:last-child {
  position: absolute;
  width: 199.41px;
  height: 19.8px;
  left: 44px;
  top: 8.6px;
}
footer .footer_top > div:first-child p:nth-child(3) {
  margin: 20px 0 15px;
}
footer .footer_top > div:first-child .contact {
  display: flex;
  gap: 10px;
}
footer .footer_top > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 240px;
  height: 166px;
}
footer .footer_top > div:nth-child(2) div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .footer_top > div:last-child p {
  margin: 25px 0 20px;
  width: 330px;
  height: 44px;
}
footer .footer_top > div:last-child .subscribeForm {
  width: 425px;
  height: 60px;
  position: relative;
}
footer .footer_top > div:last-child .subscribeForm input {
  box-sizing: border-box;
  width: 425px;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 16px 0px 16px 20px;
  gap: 12px;
  background: #ffffff;
  border-radius: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #2b2b2b;
}
footer .footer_top > div:last-child .subscribeForm button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  gap: 12px;
  background-color: #a259ff;
  border-radius: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
  transition: 0.3s;
  border: 2px solid transparent;
  position: absolute;
  right: 0;
  top: 0;
  width: 211px;
  height: 60px;
}
footer .footer_top > div:last-child .subscribeForm button:hover {
  transform: scale(0.9);
}
footer .footer_bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  width: 1049.41px;
  height: 33px;
  padding-top: 20px;
  border-top: 1px solid #858584;
}
footer .footer_bottom p {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: #cccccc;
}

body {
  background-color: #2b2b2b;
}
body .container {
  width: 1050px;
}
body button {
  box-sizing: border-box;
}
body #hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 195px;
  gap: 30px;
}
body #hero .hero_container {
  display: flex;
  gap: 30px;
}
body #hero .hero_container .left_side {
  display: flex;
  flex-direction: column;
  width: 510px;
  height: 544px;
  color: #ffffff;
}
body #hero .hero_container .left_side h1 {
  font-weight: 600;
  font-size: 67px;
  line-height: 110%;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  margin-bottom: 20px;
}
body #hero .hero_container .left_side p {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
}
body #hero .hero_container .left_side button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  gap: 12px;
  background-color: #a259ff;
  border-radius: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
  transition: 0.3s;
  border: 2px solid transparent;
  width: 224px;
  margin: 30px 0;
}
body #hero .hero_container .left_side button:hover {
  transform: scale(0.9);
}
body #hero .hero_container .left_side .additional_info {
  display: flex;
  gap: 30px;
  border-radius: 20px;
}
body #hero .hero_container .left_side .additional_info div {
  display: flex;
  flex-direction: column;
}
body #hero .hero_container .left_side .additional_info div span {
  text-transform: capitalize;
}
body #hero .hero_container .left_side .additional_info div span:first-child {
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
  display: flex;
  align-items: center;
}
body #hero .hero_container .left_side .additional_info div span:last-child {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 23.99px;
  line-height: 160%;
}
body #hero .hero_container .right_side {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 510px;
  height: 510px;
}
body #hero .hero_container .right_side img {
  border-radius: 20px 20px 0px 0px;
}
body #hero .hero_container .right_side .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 10px;
  border-radius: 0px 0px 20px 20px;
  background: #3b3b3b;
  width: 510px;
  height: 109px;
  color: #ffffff;
}
body #hero .hero_container .right_side .info > p {
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-transform: capitalize;
}
body #hero .hero_container .right_side .info div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 12px;
}
body #hero .hero_container .right_side .info div img {
  width: 24px;
  height: 24px;
}
body #hero .hero_container .right_side .info div p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
body #trending {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0px;
  gap: 60px;
  color: #ffffff;
}
body #trending .trending_headline {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 1046px;
}
body #trending .trending_headline p {
  text-transform: capitalize;
}
body #trending .trending_headline p:first-child {
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
}
body #trending .trending_headline p:last-child {
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
}
body #trending .cards {
  display: flex;
  gap: 30px;
}
body #trending .cards .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
  width: 330px;
  height: 525px;
}
body #trending .cards .card .img {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
body #trending .cards .card .img img {
  border-radius: 20px;
  width: 100px;
  height: 100px;
}
body #trending .cards .card .img img:first-child {
  width: 330px;
  height: 330px;
}
body #trending .cards .card .img div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 15px;
  gap: 10px;
  width: 100px;
  height: 100px;
  background: #a259ff;
  border-radius: 20px;
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
}
body #trending .cards .card .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body #trending .cards .card .info > p {
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-transform: capitalize;
}
body #trending .cards .card .info div {
  display: flex;
  gap: 12px;
}
body #trending .cards .card .info div img {
  width: 24px;
  height: 24px;
}
body #trending .cards .card .info div p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
body #top_creator {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 195px;
  gap: 60px;
}
body #top_creator .header {
  display: flex;
  align-items: flex-end;
  gap: 100px;
}
body #top_creator .header .left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #ffffff;
  text-transform: capitalize;
  width: 703px;
  height: 91px;
}
body #top_creator .header .left h3 {
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
}
body #top_creator .header .left p {
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
}
body #top_creator .header button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  gap: 12px;
  background-color: #2b2b2b;
  border-radius: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
  transition: 0.3s;
  border: 2px solid transparent;
  border-color: #a259ff;
  height: 60px;
  padding: 20px 50px !important;
}
body #top_creator .header button:hover {
  transform: scale(0.9);
}
body #top_creator .avatars {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
body #top_creator .avatars .avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
  isolation: isolate;
  width: 240px;
  height: 238px;
  background: #3b3b3b;
  border-radius: 20px;
  position: relative;
}
body #top_creator .avatars .avatar img {
  width: 110px;
  height: 120px;
}
body #top_creator .avatars .avatar .number {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 20px;
  top: 18px;
  background: #2b2b2b;
  border-radius: 20px;
  font-family: "Space Mono";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #858584;
}
body #top_creator .avatars .avatar .number span {
  margin: auto;
}
body #top_creator .avatars .avatar .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 200px;
  height: 58px;
  color: #ffffff;
}
body #top_creator .avatars .avatar .text h5 {
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  text-transform: capitalize;
}
body #top_creator .avatars .avatar .text div {
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 22px;
}
body #top_creator .avatars .avatar .text div p:first-child {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: right;
  color: #858584;
}
body #top_creator .avatars .avatar .text div p:last-child {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}
body #browse {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 195px;
  gap: 60px;
  color: #ffffff;
}
body #browse .header h3 {
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  text-transform: capitalize;
}
body #browse .categories {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
body #browse .categories .category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 240px;
  height: 316px;
  background: #3b3b3b;
  border-radius: 20px;
}
body #browse .categories .category img {
  border-radius: 20px 20px 0px 0px;
}
body #browse .categories .category .text {
  display: flex;
  flex-direction: column;
  padding: 20px 30px 25px;
  gap: 25px;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-transform: capitalize;
  width: 240px;
  height: 76px;
}
body #discoverMore {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 195px;
  gap: 60px;
}
body #discoverMore .header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 100px;
}
body #discoverMore .header .text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body #discoverMore .header .text p {
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  color: #ffffff;
  text-transform: capitalize;
}
body #discoverMore .header button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  gap: 12px;
  background-color: #2b2b2b;
  border-radius: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
  transition: 0.3s;
  border: 2px solid transparent;
  border-color: #a259ff;
  height: 60px;
  padding: 20px 50px !important;
}
body #discoverMore .header button:hover {
  transform: scale(0.9);
}
body #discoverMore .discoverCards {
  display: flex;
  gap: 30px;
}
body #discoverMore .discoverCards .discoverCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 330px;
  height: 469px;
  background: #3b3b3b;
  border-radius: 20px;
}
body #discoverMore .discoverCards .discoverCard .text {
  display: flex;
  flex-direction: column;
  padding: 20px 30px 25px;
  gap: 25px;
  align-items: flex-start;
}
body #discoverMore .discoverCards .discoverCard .text .top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  width: 270px;
}
body #discoverMore .discoverCards .discoverCard .text .top .info {
  display: flex;
  gap: 12px;
}
body #discoverMore .discoverCards .discoverCard .text .top .info p {
  font-family: "Space Mono";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}
body #discoverMore .discoverCards .discoverCard .text .bottom {
  display: flex;
  width: 270px;
}
body #discoverMore .discoverCards .discoverCard .text .bottom p:first-child {
  font-family: "Space Mono";
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: #858584;
}
body #discoverMore .discoverCards .discoverCard .text .bottom p:last-child {
  font-family: "Space Mono";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}
body #discoverMore .discoverCards .discoverCard .text .bottom .bottom_left {
  display: flex;
  flex-direction: column;
  padding: 0px 21px 0px 0px;
  gap: 8px;
  width: 135px;
}
body #discoverMore .discoverCards .discoverCard .text .bottom .bottom_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  width: 135px;
}
body #highLight {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #highLight img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 1280px;
  height: 660px;
}
body #howItWorks {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 195px;
  gap: 48px;
}
body #howItWorks .header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
body #howItWorks .header p {
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  color: #ffffff;
  text-transform: capitalize;
}
body #howItWorks .infoCards {
  display: flex;
  gap: 30px;
}
body #howItWorks .infoCards .infoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px 30px;
  gap: 20px;
  background: #3b3b3b;
  border-radius: 20px;
}
body #howItWorks .infoCards .infoCard .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
body #howItWorks .infoCards .infoCard .text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
}
body #subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 195px 80px;
  gap: 10px;
}
body #subscribe .subscribe_container {
  display: flex;
  align-items: center;
  padding: 60px;
  gap: 80px;
  background: #3b3b3b;
  border-radius: 20px;
}
body #subscribe .subscribe_container .emailInput p {
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  color: #ffffff;
  text-transform: capitalize;
  margin: 10px 0 40px;
}
body #subscribe .subscribe_container .emailInput .subscribeForm {
  width: 425px;
  height: 60px;
  position: relative;
}
body #subscribe .subscribe_container .emailInput .subscribeForm input {
  box-sizing: border-box;
  width: 425px;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 16px 0px 16px 20px;
  gap: 12px;
  background: #ffffff;
  border-radius: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #2b2b2b;
}
body #subscribe .subscribe_container .emailInput .subscribeForm button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  gap: 12px;
  background-color: #a259ff;
  border-radius: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
  transition: 0.3s;
  border: 2px solid transparent;
  position: absolute;
  right: 0;
  top: 0;
  width: 211px;
  height: 60px;
}
body #subscribe .subscribe_container .emailInput .subscribeForm button:hover {
  transform: scale(0.9);
}