body {
  background-color: $mainBackgroundColor;
  .container {
    width: 1050px;
  }
  button {
    box-sizing: border-box;
  }
  #hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 195px;
    gap: 30px;
    .hero_container {
      display: flex;
      gap: 30px;
      .left_side {
        display: flex;
        flex-direction: column;
        width: 510px;
        height: 544px;
        color: $white;
        h1 {
          font-weight: 600;
          font-size: 67px;
          line-height: 110%;
          display: flex;
          align-items: center;
          text-transform: capitalize;
          margin-bottom: 20px;
        }
        p {
          font-style: normal;
          font-weight: 400;
          font-size: 22px;
          line-height: 160%;
          text-transform: capitalize;
        }
        button {
          @include buttons($buttonBlue);
          width: 224px;
          margin: 30px 0;
        }
        .additional_info {
          display: flex;
          gap: 30px;
          border-radius: 20px;
          div {
            display: flex;
            flex-direction: column;
            span {
              text-transform: capitalize;
              &:first-child {
                font-family: "Space Mono";
                font-weight: 700;
                font-size: 28px;
                line-height: 140%;
                display: flex;
                align-items: center;
              }
              &:last-child {
                font-family: "Work Sans";
                font-weight: 400;
                font-size: 23.99px;
                line-height: 160%;
              }
            }
          }
        }
      }
      .right_side {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 510px;
        height: 510px;
        img {
          border-radius: 20px 20px 0px 0px;
        }
        .info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 20px;
          gap: 10px;
          border-radius: 0px 0px 20px 20px;
          background: $backgroundSecondary;
          width: 510px;
          height: 109px;
          color: $white;
          & > p {
            font-weight: 600;
            font-size: 22px;
            line-height: 140%;
            text-transform: capitalize;
          }
          div {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 12px;
            img {
              width: 24px;
              height: 24px;
            }
            p {
              font-weight: 400;
              font-size: 16px;
              line-height: 140%;
            }
          }
        }
      }
    }
  }
  #trending {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px;
    gap: 60px;
    color: $white;
    .trending_headline {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 1046px;
      p {
        text-transform: capitalize;
        &:first-child {
          font-weight: 600;
          font-size: 38px;
          line-height: 120%;
        }
        &:last-child {
          font-weight: 400;
          font-size: 22px;
          line-height: 160%;
        }
      }
    }
    .cards {
      display: flex;
      gap: 30px;
      .card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 15px;
        width: 330px;
        height: 525px;
        .img {
          display: flex;
          gap: 15px;
          flex-wrap: wrap;
          img {
            border-radius: 20px;
            width: 100px;
            height: 100px;
            &:first-child {
              width: 330px;
              height: 330px;
            }
          }
          div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 32px 15px;
            gap: 10px;
            width: 100px;
            height: 100px;
            background: $buttonBlue;
            border-radius: 20px;
            font-family: "Space Mono";
            font-weight: 700;
            font-size: 22px;
            line-height: 160%;
            text-transform: capitalize;
          }
        }
        .info {
          display: flex;
          flex-direction: column;
          gap: 10px;
          & > p {
            font-weight: 600;
            font-size: 22px;
            line-height: 140%;
            text-transform: capitalize;
          }
          div {
            display: flex;
            gap: 12px;
            img {
              width: 24px;
              height: 24px;
            }
            p {
              font-weight: 400;
              font-size: 16px;
              line-height: 140%;
            }
          }
        }
      }
    }
  }
  #top_creator {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 195px;
    gap: 60px;
    .header {
      display: flex;
      align-items: flex-end;
      gap: 100px;
      .left {
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: $white;
        text-transform: capitalize;
        width: 703px;
        height: 91px;
        h3 {
          font-weight: 600;
          font-size: 38px;
          line-height: 120%;
        }
        p {
          font-weight: 400;
          font-size: 22px;
          line-height: 160%;
        }
      }
      button {
        @include buttons($mainBackgroundColor);
        border-color: $buttonBlue;
        height: 60px;
        padding: 20px 50px !important;
      }
    }
    .avatars {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      .avatar {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 20px;
        isolation: isolate;
        width: 240px;
        height: 238px;
        background: $backgroundSecondary;
        border-radius: 20px;
        position: relative;
        img {
          width: 110px;
          height: 120px;
        }
        .number {
          position: absolute;
          width: 30px;
          height: 30px;
          left: 20px;
          top: 18px;
          background: #2b2b2b;
          border-radius: 20px;
          font-family: "Space Mono";
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          display: flex;
          align-items: center;
          text-align: center;
          color: $captionText;
          span {
            margin: auto;
          }
        }
        .text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 5px;
          width: 200px;
          height: 58px;
          color: $white;
          h5 {
            font-weight: 600;
            font-size: 22px;
            line-height: 140%;
            text-align: center;
            text-transform: capitalize;
          }
          div {
            display: flex;
            justify-content: center;
            gap: 10px;
            height: 22px;
            p {
              &:first-child {
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                text-align: right;
                color: $captionText;
              }
              &:last-child {
                font-family: "Space Mono";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: $white;
              }
            }
          }
        }
      }
    }
  }
  #browse {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 195px;
    gap: 60px;
    color: $white;
    .header {
      h3 {
        font-weight: 600;
        font-size: 38px;
        line-height: 120%;
        text-transform: capitalize;
      }
    }
    .categories {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      .category {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        width: 240px;
        height: 316px;
        background: $backgroundSecondary;
        border-radius: 20px;
        img {
          border-radius: 20px 20px 0px 0px;
        }
        .text {
          display: flex;
          flex-direction: column;
          padding: 20px 30px 25px;
          gap: 25px;
          font-weight: 600;
          font-size: 22px;
          line-height: 140%;
          text-transform: capitalize;
          width: 240px;
          height: 76px;
        }
      }
    }
  }
  #discoverMore {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 195px;
    gap: 60px;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      gap: 100px;
      .text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        p {
          @include bodyText();
        }
      }
      button {
        @include buttons($mainBackgroundColor);
        border-color: $buttonBlue;
        height: 60px;
        padding: 20px 50px !important;
      }
    }
    .discoverCards {
      display: flex;
      gap: 30px;
      .discoverCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 330px;
        height: 469px;
        background: $backgroundSecondary;
        border-radius: 20px;
        .text {
          display: flex;
          flex-direction: column;
          padding: 20px 30px 25px;
          gap: 25px;
          align-items: flex-start;
          .top {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;
            width: 270px;
            .info {
              display: flex;
              gap: 12px;
              p {
                @include bodyTextSpace();
              }
            }
          }
          .bottom {
            display: flex;
            width: 270px;
            p {
              &:first-child {
                @include CaptionSpace();
                color: $captionText;
              }
              &:last-child {
                @include bodyTextSpace();
              }
            }
            .bottom_left {
              display: flex;
              flex-direction: column;
              padding: 0px 21px 0px 0px;
              gap: 8px;
              width: 135px;
            }
            .bottom_right {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-end;
              gap: 8px;
              width: 135px;
            }
          }
        }
      }
    }
  }
  #highLight {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      width: 1280px;
      height: 660px;
    }
  }
  #howItWorks {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 195px;
    gap: 48px;
    .header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      p {
        @include bodyText();
      }
    }
    .infoCards {
      display: flex;
      gap: 30px;
      .infoCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 30px 30px;
        gap: 20px;
        background: $backgroundSecondary;
        border-radius: 20px;
        .text {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          p {
            @include baseBody();
          }
        }
      }
    }
  }
  #subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 195px 80px;
    gap: 10px;
    .subscribe_container {
      display: flex;
      align-items: center;
      padding: 60px;
      gap: 80px;
      background: $backgroundSecondary;
      border-radius: 20px;
      .emailInput {
        p {
          @include bodyText();
          margin: 10px 0 40px;
        }
        .subscribeForm {
          width: 425px;
          height: 60px;
          position: relative;
          input {
            box-sizing: border-box;
            width: 425px;
            height: 60px;
            display: flex;
            align-items: center;
            padding: 16px 0px 16px 20px;
            gap: 12px;
            background: $white;
            border-radius: 20px;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: $mainBackgroundColor;
          }
          button {
            @include buttons($buttonBlue);
            position: absolute;
            right: 0;
            top: 0;
            width: 211px;
            height: 60px;
          }
        }
      }
    }
  }
}
