h3 {
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  text-transform: capitalize;
  color: $white;
}
h5 {
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-transform: capitalize;
  color: $white;
}
